
@import "reset";

html, body {
    height: 100vh;
    width: 100vw;
    background: rgb(254, 251, 216);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    }

    .padre{
        height: 60vh;
        width: 60vw;
        display: grid;
        grid-template-areas:
            "primera"
            "segunda"
            "tercera"
            "quarta";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

        .primera{
            grid-area: primera;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
        }
        .segunda{
            grid-area: segunda;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
        }
        .tercera{
            grid-area: tercera;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
        }
        .quarta{
            grid-area: quarta;
            display: grid;
            grid-template-columns: 25% 50% 25%;
        }