
@import "reset";

// Interfície gràfica

html, body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    }
    .padre{
        height: 60vh;
        width: 60vw;
        display: grid;
        grid-template-areas:
            "solucion"
            "primera"
            "segunda"
            "tercera"
            "quarta";
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        background-color: rgb(218, 216, 216);
    }
        .solucion{
            grid-area: solucion;
            display: grid;
            grid-template-columns: 100%;
        }
        .primera{
            grid-area: primera;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
        }
        .segunda{
            grid-area: segunda;
            @extend.primera;
        }
        .tercera{
            grid-area: tercera;
            @extend.primera;
        }
        .quarta{
            grid-area: quarta;
            @extend.primera;
        }
            .negro{
                display: grid;
                width: 100%;
                height: 100%;
                justify-items: center;
                align-items: center;
            }
            .nums{
                place-self: center center;
                width: 100%;
            }
            .limpiar{
                @extend.nums;
            }
            .operador{
                @extend.nums;
            }
            .resultado{
                @extend.nums;
            }





